<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quest</title>
</head> -->
<% layout("/layouts/boilerplate") -%>
<!-- <body> -->
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <br>
    <form method="post" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Enter Title" type="text" class="form-control" required>
		    <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Please give a Title</div>
        </div>
        <!-- <br>  -->
        <!-- <br> -->
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter Description" class="form-control" required></textarea>
		        <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <!-- <br>  -->
        <!-- <br> -->
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input name="listing[image]" placeholder="Enter Image URL" type="text" class="form-control">
        </div>
        <!-- <br>  -->
        <!-- <br> -->
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="1200" class="form-control" required>
                <div class="invalid-feedback">Price should be valid</div>
            </div>
            <!-- <br>  -->
            <!-- <br> -->
            <div class="mb-3 col-md-8">   
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>
        <!-- <br>  -->
        <!-- <br> -->
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Delhi, India" type="text" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
            <!-- <br>  -->
            <!-- <br> -->
        <button class="btn btn-dark">Add</button>
        <br> <br>
    </form>
    </div>
</div>
<!-- </body> -->
<!-- </html> -->